
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chomibinine.sajaquiz">
    <application
        android:label="초미비니의 사자성어 쪼개기"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
